@model IEnumerable<string>
@{
	ViewData["Title"] = "Home Page";
}

<form method="post" class="d-flex gap-2 mb-4" enctype="multipart/form-data">
	<input type="file" name="file" class="form-control" />
	<button class="btn btn-primary">Submit</button>
</form>

<div class="d-flex gap-2">
	@foreach(var imgUrl in Model) {
		<div class="p-1" style=" border:1px solid #000;">
			<img src="@imgUrl" style="height: 120px;" />
		</div>
	}
</div>